#logo {
  font-size: 30px;
  width: 150px;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

#navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2a2c35;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
}

#navLeft {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 1200px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

nav ul {
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin-top: 10px;
}

nav a {
  color: white;
  padding: 0px;
}

nav a:hover {
  text-decoration: underline;
}

li {
  float: left;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  margin-left: 15px;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
}

#allProductsContainer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#allProuctsHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
}

.allFoodItem {
  width: 260px;
  height: 320px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.allFoodItem p {
  margin: 0px;
}
.allFoodItem button {
  background-color: #6c6acc;
  color: white;
  font-weight: bold;
  width: 240px;
  height: 50px;
  border: 0px;
  font-size: 17px;
  margin-top: 10px;
}
.oos {
  background-color: #29293c;
  color: white;
  font-weight: bold;
  width: 240px;
  height: 50px;
  border: 0px;
  font-size: 17px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allFoodItem button:hover {
  background-color: #393c48;
}

.allItemName {
  font-size: 18px;
}

.allItemPrice {
  font-size: 30px;
  font-weight: bolder;
}

.allFoodItem img {
  width: 240px;
  height: 200px;
}

.allFoodItem a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

#cartHolder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cartContainer {
  width: 1000px;
  display: flex;
  flex-direction: row;
}

#cartLeft {
  width: 700px;
  margin-right: 100px;
}

#cartLeft ul {
  text-decoration: none;
  list-style-type: none;
}
#productName {
  font-size: 20px;
  text-align: left;
}

#productName p {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 5px;
}

#productName button {
  margin: 0px 10px;
  background-color: #9f9f9f;
  border-radius: 50%;
  border: 0;
  height: 20px;
  width: 20px;
  color: white;
  font-weight: bold;
}

#productName button:hover {
  background-color: #696767;
  transition: 0.2s;
}
.delete {
  background-color: #6c6acc;
  border-radius: 5px;
  border: 0;
  height: 25px;
  width: 25px;
  color: white;
  font-weight: bold;
}

.delete:hover {
  background-color: #393c48;
  transition: 0.25s;
}

#cartListImage {
  height: 90px;
  width: 90px;
}

#itemList {
  height: 110px;
  width: 600px;
  border-style: solid;
  border-radius: 20px;
  border-color: #2a2c35;
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#cartRight {
  margin-top: 40px;
  width: 300px;
  background-color: white;
}
#cartRight a {
  text-decoration: none;
}

#cartRight ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
}

#cartRightButton {
  background-color: #6c6acc;
  color: white;
  font-weight: bold;
  width: 300px;
  height: 45px;
  border: 0px;
  border-radius: 8px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cartRightButton:hover {
  background-color: #393c48;
  transition: 0.2s;
  transform: scale(1.05);
}

#orderSumHolderLeft ul {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
#orderSumHolderLeft li {
  text-align: left;
}

#orderSumHolderLeft {
  text-align: right;
  width: 140px;
}

#orderSumHolderRight {
  text-align: right;
  width: 140px;
}

#orderSumHolderRight ul {
  text-decoration: none;
  list-style-type: none;
  text-align: right;
  margin: 0px;
  padding: 0px;
}
#orderSumHolderRight li {
  text-align: right;
}

#orderSumHolder {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0px;
}
