#cart-holder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart-container {
  width: 1000px;
  display: flex;
  flex-direction: row;
}

#cart-left {
  width: 700px;
  margin-right: 100px;
}

#cart-left ul {
  text-decoration: none;
  list-style-type: none;
}
#product-name {
  font-size: 20px;
  text-align: left;
}

#product-name p {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 5px;
}

#product-name button {
  margin: 0px 10px;
  background-color: #9f9f9f;
  border-radius: 50%;
  border: 0;
  height: 20px;
  width: 20px;
  color: white;
  font-weight: bold;
}

#product-name button:hover {
  background-color: #696767;
  transition: 0.2s;
}
.delete {
  background-color: #6c6acc;
  border-radius: 5px;
  border: 0;
  height: 25px;
  width: 25px;
  color: white;
  font-weight: bold;
}

.delete:hover {
  background-color: #393c48;
  transition: 0.25s;
}

#cart-list-image {
  height: 90px;
  width: 90px;
}

#item-list {
  height: 110px;
  width: 600px;
  border-style: solid;
  border-radius: 20px;
  border-color: #2a2c35;
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#cart-right {
  margin-top: 40px;
  width: 300px;
  background-color: white;
}
#cart-right a {
  text-decoration: none;
}

#cart-right ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
}

#cart-right-button {
  background-color: #6c6acc;
  color: white;
  font-weight: bold;
  width: 300px;
  height: 45px;
  border: 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cart-right-button:hover {
  background-color: #393c48;
  transition: 0.2s;
  transform: scale(1.05);
}

#order-sum-holder-left ul {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
#order-sum-holder-left li {
  text-align: left;
}

#order-sum-holder-left {
  text-align: right;
  width: 140px;
}

#order-sum-holder-right {
  text-align: right;
  width: 140px;
}

#order-sum-holder-right ul {
  text-decoration: none;
  list-style-type: none;
  text-align: right;
  margin: 0px;
  padding: 0px;
}
#order-sum-holder-right li {
  text-align: right;
}

#order-sum-holder {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0px;
}
