#authformHolder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

#authformHolder a {
  text-decoration: none;
  color: #393c48;
  margin-top: 6px;
}

#authformHolder a:hover {
  text-decoration: underline;
}

#authform {
  background-color: #6ebba8;
  height: 350px;
  width: 390px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
#authform p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.input-field {
  border: 0px;
  border-radius: 8px;
  margin: 0px 20px;
  height: 25px;
  margin-bottom: 10px;
  width: 200px;
  color: #524e4e;
}

#authform form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#authform form label {
  color: white;
  font-weight: bold;
}
#authform form div {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
}
#authform form button {
  background-color: #6c6acc;
  color: white;
  font-weight: bold;
  width: 140px;
  height: 35px;
  border: 0px;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 15px;
}
#authform form button:hover {
  background-color: #29293c;
}
#loginError {
  margin-top: 10px;
  height: 70px;
  font-weight: bolder;
}
