#logo {
  /* font-size: 30px;
  width: 150px;
  color: white; */
  background: url(./../hyrule_logo.png);
  background-repeat: none;
  background-size: contain;
  z-index: 100;
  width: 330px;
  height: 70px;
}

#navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2a2c35;
  position: fixed;
  top: 0px;
  width: 100%;
  user-select: none;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nav-left {
  position: fixed;
  left: 30px;
  top: -2px
}

#nav-right {
  position: fixed;
  right: 60px;
}

nav {
  color: white;
  height: 60px;
}

nav ul {
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin-top: 10px;
}

nav a {
  color: white;
  padding: 0px;
}

nav a:hover {
  text-decoration: underline;
  transition: 0.25s;
}

nav a li:hover {
  text-decoration: underline;
  transition: 0.25s;
}

li {
  float: left;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  margin-left: 15px;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
}
