body {
  margin: 0;
  height: 101vh;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  margin: auto;
}

#routeHolder {
  margin: auto;
}

#pageNotFound {
  margin-top: 170px;
  text-align: center;
}

#pageNotFound img {
  width: 400px;
  height: 220px;
}
